<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <pre><code><%= JSON.stringify( JSON.parse(uniDashJSON) , null, 2) %></code></pre>

  </body>
</html>
